::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body:before {
  content: '';
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;

  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.9);
     -moz-box-shadow: 0 0 25px rgba(0,0,0,0.9);
       -o-box-shadow: 0 0 25px rgba(0,0,0,0.9);
          box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.quoted {
  quotes: '\201c' '\201d';
}

.quoted:before {
  content: open-quote;
}

.quoted:after {
  content: close-quote;
}

#bar {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
}

#info h1 {
  margin: 0;
  color: #FDFEF8;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
}

#info .quoted {
  color: #55AF5A;
}

#menu {
  position: relative;
  top: 15px;
}

#menu > ul {
  margin: 0;
  padding: 0;
}

#menu > ul > li {
  display: inline-block;
  margin: 0;
}

#menu > ul > li > a > .social {
  color: #333;
  font-size: 2em;
  text-shadow: 1px 1px rgba(255,255,255,0.4);
}

@media (max-height: 480px) {
  #bar {
    top: 10%;
  }
}

@media (min-height: 480px) and (max-height: 768px) {
  #bar {
    top: 25%;
  }
  
  #menu > ul > li > a > .social {
    color: #e0e0e0;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
  }
}

@media (max-width: 325px) {
  #info h1 {
    font-size: 4em;
  }
  
  #menu {
    margin: 0 2em;
  }
  
  #menu > ul > li > a > .social {
    font-size: 3em;
  }
}

@media (min-width: 325px) and (max-width: 480px) {
  #info h1 {
    font-size: 4em;
  }
  
  #menu {
    margin: 0 2em;
  }
  
  #menu > ul > li > a > .social {
    font-size: 4em;
  }
}

@media (min-width: 480px) and (max-width: 760px) {
}

@media (min-width: 760px) and (max-width: 1920px) {
  #info h1 {
    font-size: 4em;
  }
  
  #menu > ul > li > a > .social {
    font-size: 2em;
  }
}

@media (min-width: 1920px) {
  #info h1 {
    font-size: 8em;
  }
  
  #menu > ul > li > a > .social {
    font-size: 4em;
  }
}